.theme_toggle_container {
  width: 60px !important;
  height: 30px;
  background-color: var(--background-color);
  border-radius: 30px;
  position: relative !important;
  display: flex;
  align-items: center;
}

.theme_toggle_btn {
  width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  transition: transform 0.1s ease-in;
}

.light_toogle_btn {
  transform: translateX(5px);
}

.dark_toogle_btn {
  transform: translateX(35px);
}
