* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
}

body.light {
  --primary-color: #1aba8d;
  --secondary-color: #329bfe;
  --tertiary-color: #fdcd33;

  --foreground-color: #ffffff;
  --background-color: #ebebeb;
  --text-color: #000000;
}

body.dark {
  --primary-color: #1aba8d;
  --secondary-color: #329bfe;
  --tertiary-color: #fdcd33;

  --foreground-color: #4d4d4d;
  --background-color: #333333;
  --text-color: #ffffff;
}
