* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
}

body.light {
  --primary-color: #1aba8d;
  --secondary-color: #329bfe;

  --foreground-color: #ffffff;
  --background-color: #ebebeb;
  --text-color: #000000;
}

body.dark {
  --primary-color: #1aba8d;
  --secondary-color: #329bfe;

  --foreground-color: #4d4d4d;
  --background-color: #333333;
  --text-color: #ffffff;
}

.app_container {
  margin: 40px calc((100% - 1280px) / 2);
  width: 1280px;
}

.home_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.blogs_heading {
  font-size: 2rem;
  text-align: center;
  color: var(--text-color);
}

.blogs_list li {
  list-style-type: none;
  padding: 10px;
  text-align: center;
}

.blogs_list li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--text-color);
}

.blogs_list li a span {
  text-decoration: none;
  font-size: 1rem;
  color: var(--text-color);
}

.page_not_found_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.page_not_found_head {
  font-size: 5rem;
  color: var(--text-color);
  text-align: center;
}
.page_not_found_para {
  font-size: 2rem;
  color: var(--text-color);
  text-align: center;
}

.page_not_found_goback_btn {
  color: var(--foreground-color);
  background-color: var(--text-color);
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .app_container {
    margin: 0;
    padding: 20px;
    width: 100%;
  }
}
